body {
    margin-top: 10px;

}
.btn {
   margin-left: 10px;
    
}
h2 {
    margin-left: 100px;
    padding-top: 50px;
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
}
.thead{
    padding-left: 100px;

}