body {
    margin-top: 10px;
    background-color: bisque;

}
h2 {
    margin-left: 100px;
    padding-top: 50px;
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
}
.thead{
    padding-left: 100px;
   

}
nav {
    background-color: aquamarine;
}

 #btnA #btnB{
    margin-left: 30px;
    background-color: darkslateblue;
    
     
 }

 .para {
    font-family: 'Times New Roman', Times, serif;
    
   
    padding-left: 100px;

    
    background-color: lightblue;
    transition: background-color 0.3s ease;
 }